.footer {
  background-color: #3F4E65;
}
.footer__container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 552px) {
  .footer__container {
    max-width: 440px;
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .footer__container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    max-width: 1300px;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container > * {
    margin-right: 10px;
  }
}
.footer__logo {
  display: block;
  width: calc(50% - 20px);
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 60%;
    margin-bottom: 10px;
  }
}
.footer__download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .footer__download {
    width: 100%;
  }
}
.footer__download svg {
  margin-left: 5px;
}
.footer__download_min {
  display: flex;
}
@media screen and (min-width: 992px) {
  .footer__download_min {
    display: none;
  }
}
.footer__download_max {
  display: none;
}
@media screen and (min-width: 992px) {
  .footer__download_max {
    display: block;
    margin-top: -10px;
  }
  .footer__download_max .title {
    width: 100%;
    margin-bottom: 10px;
  }
}
.footer__text {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2rem;
  margin-top: 15px;
}
.footer__form {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.footer__input {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
}
.footer__input::-moz-placeholder {
  padding-left: 1.2rem;
  font-size: 12px;
}
.footer__input::placeholder {
  padding-left: 1.2rem;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer__input::-moz-placeholder {
    padding: 0;
  }
  .footer__input::placeholder {
    padding: 0;
  }
}
.footer__button {
  position: absolute;
  padding: 15px;
  top: calc(50% + 8px);
  right: 10px;
  transform: translateY(-50%);
}
.footer__wrapper,
.footer .wrapper {
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__wrapper,
  .footer .wrapper {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 992px) {
  .footer__wrapper,
  .footer .wrapper {
    width: calc(33.333% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper,
  .footer .wrapper {
    margin-top: 30px;
    width: calc(20% - 15px);
  }
}
.footer__wrapper h3,
.footer .wrapper h3 {
  margin-bottom: 10px;
}
.footer__wrapper ul li,
.footer .wrapper ul li {
  margin-bottom: 10px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__title-contact {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__title-contact {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 992px) {
  .footer__title-contact {
    width: calc(33.333% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-contact {
    width: calc(20% - 15px);
  }
}
.footer__link {
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: Inter;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
}
.footer__contact {
  align-self: flex-start;
  width: 50%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 992px) {
  .footer__contact {
    width: calc(33.333% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-top: 30px;
    width: calc(20% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    order: 3;
  }
}
.footer__contact > * {
  margin-bottom: 10px;
}
.footer__contact-title {
  font-size: 0.875rem;
  line-height: 1.3rem;
  font-weight: 600;
}
.footer__contact-title.title_min {
  font-weight: 400;
}
.footer__contact-text {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  font-weight: 300;
}
.footer__contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .footer__contact-container {
    order: 2;
  }
}
.footer__contact img {
  border-radius: 5px;
}
.footer__social-icons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}/*# sourceMappingURL=footer.css.map */