.details {

    &[open] summary:after {
        content: "▴";
    }

    &__title {
        list-style: none;

        &:after {
            content: "▾";
        }
    }

    &__description {
        font-size: 1rem;
        font-weight: 500;
        color: #9ca5b1;
    }
}