@import '../../../var';

.checkbox {
    border: $grayColor;
    margin-right: 10px;

    &__label {
        font-size: 0.875rem;
        font-weight: 400;
        color: $darkColor;
        display: flex;
        align-items: center;

    }
}