@import '../../../var';

.admin-page {
    &__form {

        &-fields-row {
            margin-right: -10px;
            display: flex;
            flex-wrap: wrap;
        }

        &-buttons {
            margin: 10px 0;
            display: flex;

            &>*+* {
                margin-left: 10px;
            }
        }

        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        input {
            border: 1px solid $darkColor;
            border-radius: 30px;
            padding: 5px 10px;
            box-shadow: 0px 4px 4px #CDCDCD;
        }

    }
}