@import "../../../_var.scss";
@import "../../../_mixin.scss";

.button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: $mainColor;
    color: #fff;
    padding: 10px 20px;
    border-radius: 80px;
    white-space: nowrap;
    cursor: pointer;
    @include miniTitle;

    &:hover {
        opacity: 0.7;
    }

    @media screen and (min-width: 768px) {
        padding: 15px 25px;
    }

    &__circle {
        border-radius: 50%;
        padding: 11px;
    }


    &__bg-inherit {
        background-color: inherit;
        color: $darkColor;
        padding: 5px;
    }

    &__bg-white {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 5px 22px #2B1C010A;
        color: $darkColor;
    }

    &_white-icon {
        svg {
            fill: #fff;
        }
    }

    &_gray-icon {
        svg {
            fill: $darkColor;
        }
    }

    &_min {

        font-size: 10px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.15em;

        @media screen and (max-width: 1440px) {
            padding: 5px 10px;
            gap: 5px;
        }
    }

    &_square {
        padding: 10px 18px;
        cursor: pointer;
    }

    &_font-main {
        @include sFont;
    }

    &_wrap {
        white-space: normal;
        max-width: 300px;
        @include mainFont;
    }

}