@import "../../../_var.scss";
@import "../../../mixin";

.nav {


    &__container {
        @include flexContainerBetween;
        flex-wrap: wrap;
        @include container;
    }

    &__elems {
        @include flexContainerAround;
        width: 100%;
        border-top: 1px solid $opacityDarkColor;
        border-bottom: 1px solid $opacityDarkColor;
        padding: 10px 15px;
    }

    &__label {
        @include flexContainerCenter;
        border-left: 1px dashed $opacityDarkColor;
        width: 50%;
        overflow: hidden;

        svg {
            margin-right: 5px;
        }
    }

    &__button {
        @include flexContainerCenter;
        @include mainFont;
        flex-direction: row-reverse;
        width: 50%;

        svg {
            margin-right: 5px;
        }
    }

    &__input {
        @include mainFont;
        max-width: 50%;
        color: $darkColor;

    }


}