@import '../../../var';

.paginate {
    display: flex;
    gap: 20px;
    justify-content: center;

    .button {
        background-color: #fff;
        color: $mainColor;
        border: 1px solid $darkColor;

        &:hover {
            opacity: 1;
        }

        &.active {
            cursor: auto;
            opacity: 0.9;
            border-color: $grayColor;
            box-shadow: inset 3px 4px 10px $grayColor;
        }
    }
}