@import '../../../var';

.form {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    &__input {

        padding: 15px;
        margin-top: 15px;
        width: 100%;


        &::placeholder {
            padding-left: 1.2rem;
            font-size: 12px;

            @media screen and (min-width: 768px) {
                padding: 0;
            }
        }

        &_white {
            background-color: #fff;

            &::placeholder {
                color: $grayColor;
            }
        }

        &_gray {
            background-color: $grayColor;

            &::placeholder {
                color: $darkColor;
            }
        }
    }

    &__button {
        position: absolute;
        padding: 15px;
        top: calc(50% + 8px);
        right: 10px;
        transform: translateY(-50%);
    }
}