@import '../../../var';
@import '../../../mixin';

.sidebar {
    padding: 30px 15px;

    &__title {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        background-color: #ffffff;
        margin-right: auto;

        &.active {
            font-weight: 600;
        }
    }

    &__params {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-button.button {
            @media screen and (min-width: 1000px) {
                display: none;
            }
        }
    }

    &__mobile {
        height: 100%;

        &.closed {
            height: 0px;
            overflow: hidden;
        }
    }

    &__block {
        overflow: hidden;

        &.closed {
            height: 87px;

            @media screen and (min-width:1000px) {
                height: 93px;
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            padding: 15px 0;
        }



    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__price {
        font-size: 0.875rem;
        font-weight: 300;
        color: $darkColor;
    }

    &__button {
        @include mainFont;
        font-weight: 500;
        color: $darkColor;
        justify-content: flex-start;
    }

    .button__circle {
        padding: 11px;
    }

    .button {
        white-space: normal;
        text-align: left;
    }

    .elems-count {
        white-space: nowrap;
        max-width: 100%;
    }

    .badge {
        width: 40%;
    }

    .details__title {
        @include mainFont;
        color: $darkColor;
        margin-top: 10px;
    }

}