@import '../../../var';
@import "../../../mixin";

.footer {
    background-color: $darkColor;

    &__container {
        @include container;
        @include flexContainerBetween;
        flex-wrap: wrap;
    }

    &__download {
        @include flexContainerCenter;
        width: 50%;

        svg {
            margin-left: 5px;
        }
    }

    &__text {
        @include mainFont;
        color: #fff;
        line-height: 1.2rem;
        margin-top: 15px;
    }

    &__form {
        position: relative;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    &__input {
        background-color: #fff;
        padding: 15px;

        &::placeholder {
            padding-left: 1.2rem;
            @include mainFont;
        }
    }

    &__button {
        position: absolute;
        padding: 15px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .wrapper {
        align-self: flex-start;

        h3 {
            margin-bottom: 10px;
        }

        ul {
            li {
                margin-bottom: 10px;
            }
        }
    }

    &__title {
        &-contact {
            margin: 25px 0;
            width: 100%;
        }
    }

    &__contact {
        align-self: flex-start;
        width: 50%;
        color: #fff;

        &>* {
            margin-bottom: 10px;
        }


        &-title {
            font-size: 0.875rem;
            line-height: 1.3rem;

            &.title {
                &_min {
                    font-weight: 400;
                }
            }
        }

        &-text {
            @include mainFont;
            font-weight: 300;
        }

        &-container {
            @include flexContainerStart;
            flex-wrap: wrap;
            gap: 10px;
        }

        a {
            color: #fff;
            border-bottom: 1px solid #fff;
            font-family: Inter;
            font-size: 0.625rem;
            font-weight: 400;
            line-height: 0.94px;
        }

        img {
            border-radius: 5px;
        }

    }

}